:root{
    --dark-web-theme : rgb(73, 73, 73);
    --dark-web-color : #892eff;
    --dark-web-font1 : "DM Serif Text";
    --dark-web-font2 : "Rubik Doodle Shadow";
    --dark-web-font3 : "Vollkorn SC";
    --article-background-color : #eee;
}
